.slides {
    margin: 130px 0px 30px 0;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.slides img {
    height: 380px;
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (max-width: 479px) {
    .slides {
        margin: 240px 0px 30px 0;
    }
}